
/* Add background to the entire web-page */
body {
        padding-top: 80px;
		background-color: #00001a;
			
     }
		
/* Add Font style to display Movie Name */
.movie-text{
	
			text-align: center;
		    color: #d5be90;
			font-size: 30px;
			font-family: "Times New Roman", Times, serif;
			font-size: 20px;
			margin-bottom: 10px;
			
		   }

/* Add story line using tooltip */
.movie-story-line + .tooltip > .tooltip-inner{
	
										background-color: #738c87; 
										color: #13060d; 
										border: 1px solid #00b38f;
										padding: 15px;
										font-size: 10px;
	
										}	

/* Tooltip on right */
.movie-story-line + .tooltip.left > .tooltip-arrow {
											border-left: 5px solid #00b38f;
											}
		   
		   
/* Add mouse hover on movie image */
.movie-frame:hover{
				background-color: #ffe6e6;
				cursor: pointer;
				padding: 20px;
			
			  }
			
			
/* Add review Text on webpage */			
.movie-review-ratings{
				text-align: center;
				color: #e6eeff;
				font-size: 15px;
				font-family: "Times New Roman", Times, serif;
				margin-bottom: 20px;
				margin-top: 10px;
				font-weight: bold;
			  }
			  
/* used for setting the height of input text with search icon */
.form-control{
	
				height: 28px;
			}		  
			
/*used for positioning the video and setting up background */
		
#trailer .modal-dialog{
				margin-top: 200px;
				background-color: black; /* Fallback color */
				width: 640px;
				height: 480px;
			  }
			  
			  
#trailer-video{
					width: 100%;
					height: 100%;
					background-color: black; /* Fallback color */
               }

/* used for the iframe to display trailer */
.scale-media {
				padding-bottom: 50%;
				position: relative;
				background-color: black;
              }
			  
.scale-media iframe {
						border-style: none;
						height: 100%;
						position: absolute;
						width: 100%;
						left: 0;
						top: 0;
						background-color: black;
                   }
				   
				   
/* used for positioning close button in video trailer */
.hanging-close {
					position: absolute;
					top: -12px;
					right: -12px;
					z-index: 9001;
               }
        